link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
link(rel='stylesheet', href='/stylesheets/style.css')
script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
script.
    var reminders = !{JSON.stringify(reminders)};

block content
    h1(class="text-center")= title
    table(class="col-md-12" style="width:100%")
        tr
            th
            th
        each rem in reminders
            div(class="row")
                div(class="col-sm-6 text-right" )
                    if(rem.acknowledged === null || !rem.acknowledged)
                        input(id="#{rem.id}" type="image" src="images/tick_green.png" style="width:120px;height:120px;" onclick='toggle("#{rem.id}")')
                    else
                        input(id="#{rem.id}" type="image" src="images/cancel1600.png" style="width:120px;height:120px;" onclick='toggle("#{rem.id}")')
                div(class="col-sm-6" style="padding-right:50px; padding-top:10px;")
                    font(size=20 style="text-align: bottom;vertical-align:text-bottom") #{rem.message}

script.
    var hidden = false;
    function toggle(id)
    {
        console.log("Toggle:" + id);
    }

